

{% extends "::base.html.twig" %}

{% block title %}WeCook.fr | Reprenez le controle !s{% endblock %}

{% block body %}


<h3>{{ "Se Connecter"|trans }}</h3>

{# Here goes my login form #}

{% include "WeCookUserBundle:Security:loginform.html.twig" %}

{% endblock %}




